.principal {
    padding: 70px;
}

.principal__formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal__formulario__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}