.principal {
    padding: 70px;
}

.principal__formulario__informacoes__pessoais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal__formulario__informacoes__pessoais__titulo,
.principal__formulario__mensagem__titulo {
    font-size: var(--fonte-tamanho-subtitulo);
    font-family: var(--fonte-primeira);
    margin: var(--espacamento-externo);
}

.principal__formulario__informacoes__pessoais__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}

.principal__formulario__informacoes__pessoais__entrada {
    padding: var(--espacamento-interno-entrada);
    margin: var(--espacamento-externo-entrada);
    font-size: var(--fonte-tamanho-entrada);
    font-family: var(--fonte-segunda);
    width: var(--largura-entrada);
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--cor-borda-entrada);
}

.principal__formulario__informacoes__pessoais__entrada:focus,
.principal__formulario__mensagem__selecao:focus,
.principal__formulario__mensagem__campo:focus {
    background-color: var(--cor-fundo-entrada);
}

.principal__formulario__informacoes__pessoais__radio {
    display: flex;
    margin: var(--espacamento-externo);
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}

.principal__formulario__mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal__formulario__mensagem__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}

.principal__formulario__mensagem__selecao {
    padding: var(--espacamento-interno-entrada);
    width: var(--largura-entrada);
    font-size: var(--fonte-tamanho-entrada);
    font-family: var(--fonte-segunda);
    margin: var(--espacamento-externo-entrada);
}

.principal__formulario__mensagem__campo {
    font-size: var(--fonte-tamanho-entrada);
    font-family: var(--fonte-segunda);
    width: var(--largura-entrada);
    padding: var(--espacamento-interno-entrada);
}

.principal__formulario__botao {
    padding: var(--espacamento-interno-botao);
    font-size: var(--fonte-tamanho-botao);
    width: var(--largura-botao);
    margin: var(--espacamento-externo);
    background-color: var(--cor-primeira);
    color: var(--cor-segunda);
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) {
	.principal {
        padding: 70px 16px;
    }
}