.principal {
    padding: 70px;
}

.principal__formulario__informacoes__pessoais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal__formulario__informacoes__pessoais__titulo,
.principal__formulario__mensagem__titulo {
    font-size: var(--fonte-tamanho-subtitulo);
    font-family: var(--fonte-primeira);
    margin: var(--espacamento-externo);
}

.principal__formulario__informacoes__pessoais__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}

.principal__formulario__informacoes__pessoais__entrada {
    padding: var(--espacamento-interno-entrada);
    margin: var(--espacamento-externo-entrada);
    font-size: var(--fonte-tamanho-entrada);
    font-family: var(--fonte-segunda);
    width: var(--largura-entrada);
}

.principal__formulario__informacoes__pessoais__radio {
    display: flex;
    margin: var(--espacamento-externo);
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
}

.principal__formulario__mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal__formulario__mensagem__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-segunda);
    margin: var(--espacamento-externo);
}

.principal__formulario__mensagem__selecao {
    padding: var(--espacamento-interno-entrada);
    width: var(--largura-entrada);
    font-size: var(--fonte-tamanho-entrada);
    font-family: var(--fonte-segunda);
}

.principal__formulario__mensagem__selecao__opcao {

}