.principal {
	padding: 70px;
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 50px;
}

.principal__conteudo__jogos__jogo {
	border-style: solid;
	border-width: 2px;
	border-color: #1746A2;	
	box-sizing: border-box;
	padding: 20px 20px 40px 20px;
	background-color: #F5F5F5;
}

.principal__conteudo__jogos__jogo__imagem {
	width: 15vw;
	margin-bottom: 10px;
}

.principal__conteudo__jogos__jogo__titulo {
	font-weight: bold;
	color: #1746A2;
}

.principal__conteudo__jogos__jogo__titulo,
.principal__conteudo__jogos__jogo__plataforma,
.principal__conteudo__jogos__jogo__preco,
.principal__conteudo__jogos__jogo__parcela {
	font-family: 'Nunito', sans-serif;
	line-height: 20px;
}

.principal__conteudo__jogos__jogo__preco__destaque {
	color: #006400;
}

.principal__conteudo__jogos__jogo__parcela {
	font-size: 14px;
}