.cabecalho {
	padding: 50px;
	background-color: var(--cor-primeira);
}

.cabecalho__titulo__imagem, .rodape__logo {
	width: 13%;
}

.cabecalho__menu {
	display: flex;
	justify-content: flex-end;
	gap: 0 40px;
}

.cabecalho__menu__link {
	text-decoration: none;
	color: var(--cor-segunda);
	font-size: 24px;
	font-family: var(--fonte-primeira);
}

@media (max-width: 480px) {
	.cabecalho__titulo__imagem {
		width: 100%;
	}

	.cabecalho__menu {
		flex-direction: column;
		gap: 10px 0;
		align-items: center;
	}
}