.principal {
	padding: 90px 0;
}

.principal__localizacao {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.principal__localizacao__texto {
	font-family: var(--fonte-segunda);
	font-size: 24px;
	line-height: 35px;
}

.principal__localizacao__mapa {
	margin-top: 30px;
	border-radius: 5px;
}

.principal__a-parte {
	background-color: var(--cor-terceira);
	width: 10%;
	position: absolute;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 10%;
	padding: 40px 10px;
}

.principal__a-parte__imagem {
	width: 100%;
	margin-bottom: 10px;
}

.principal__horarios {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.principal__horarios__tabela {
	width: 48%;
}

.principal__horarios__tabela,
.principal__horarios__tabela__cabecalho,
.principal__horarios__tabela__cabecalho__coluna,
.principal__horarios__tabela__cabecalho__coluna__linha,
.principal__horarios__tabela__corpo__coluna__linha,
.principal__horarios__tabela__rodape,
.principal__horarios__tabela__rodape__coluna,
.principal__horarios__tabela__rodape__coluna__linha {
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 10px 30px;
	font-size: var(--fonte-tamanho-texto);
	font-family: var(--fonte-segunda);
	text-align: center;
}

.principal__horarios__tabela__cabecalho__coluna__linha,
.principal__horarios__tabela__rodape__coluna__linha {
	padding: 20px 30px;
	background-color: var(--cor-primeira);
	color: var(--cor-segunda);
}

@media (max-width: 480px) {
	.principal__localizacao__texto {
		padding: 0 20px;
	}

	.principal__localizacao__mapa {
		width: 90%;
	}
	
	.principal__a-parte {
		position: static;
		width: 50%;
		margin: 30px auto;
	}
}