.principal {
	padding: 70px;
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 50px;
}

.principal__conteudo {
	display: flex;
	flex-direction: column;
	gap: 30px 0;
}

.principal__titulo {
	text-align: center;
	font-family: var(--fonte-primeira);
	font-size: 52px;
}

.principal__texto {
	font-family: var(--fonte-segunda);
	font-size: 24px;
}

.principal__figura__descricao {
	font-family: var(--fonte-terceira);
	margin-top: 5px;
}

@media (max-width: 480px) {
	.principal {
		flex-direction: column;
		padding: 70px 20px;
		gap: 30px 0;
	}

	.principal__figura__imagem {
		width: 100%;
	}
}