.corpo {
	background-color: #FFF7E9;
}

.cabecalho {
	padding: 50px;
	background-color: #FF731D;
}

.principal {
	padding: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 50px;
}

/*
5F9DF7
1746A2
*/