:root {
    --cor-primeira: #FF731D;
    --cor-segunda: #FFF0F5;
    --cor-terceira: #f0e68c;
    --cor-quarta: #1746A2;

    --fonte-primeira: 'Comfortaa', cursive;
    --fonte-segunda: 'Nunito', sans-serif;
    --fonte-terceira: 'Wix Madefor Display', sans-serif;

    --fonte-tamanho-titulo: 2.5rem;
    --fonte-tamanho-subtitulo: 2rem;
    --fonte-tamanho-texto: 1.5rem;
}