:root {
    --cor-primeira: #FF731D;
    --cor-segunda: #FFF0F5;
    --cor-terceira: #f0e68c;
    --cor-quarta: #1746A2;

    --fonte-primeira: 'Comfortaa', cursive;
    --fonte-segunda: 'Nunito', sans-serif;
    --fonte-terceira: 'Wix Madefor Display', sans-serif;

    --fonte-tamanho-titulo: 2.5rem;
    --fonte-tamanho-subtitulo: 2rem;
    --fonte-tamanho-texto: 1.5rem;

    --espacamento-externo: 1.8rem 0;

    --espacamento-interno-entrada: 0.5rem 0.75rem;
    --espacamento-externo-entrada: 1.8rem 0;
    --fonte-tamanho-entrada: 1.1rem;
    --largura-entrada: 30%;
    --cor-fundo-entrada: #FFFAF0;
    --cor-borda-entrada: #363636;

    --espacamento-interno-botao: 1.2rem 1.0rem;
    --fonte-tamanho-botao: 1rem;
    --largura-botao: 20%;
}